.main {
  padding-top: 100px
}

.dp {
  border-radius: 50%;
  box-shadow: 0px 0px 20px 6px  cornflowerblue;
  width: 200px;
  height: 200px;
}

#logo {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2em;
  color: white;
}

 body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.mystery {
  opacity: 0;
}

.magic {
  opacity: 1;
}
