#page2 {
    display: grid;
    height: 100vh;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 40vh 60vh;
    /* position: absolute; */
    width: 100wh;
}
#project-list {
    margin: 10px;
    padding: 0 40px;
    height: fit-content;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; 
    background-color: #C3D7D6;
    overflow-y: scroll;
    
    
}

#project-info {
    margin: 0 10px 10px 10px;
    padding: 0 10px;
    background-color: #E1F0F3;
    color: black;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2; 
    position: relative;
    overflow-y: scroll;
}

#col2 {
    margin: 10px 0;
    padding: 20px;
    background-color: #E1F0F3;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow-y: scroll;
    position: relative;
}

#col3 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 10px;
    padding: 20px;
}

#chatterax-contents, #gst-contents, #budget-contents, #xo-contents {
    position: absolute;
    /* overflow: initial; */
    display: none;
}

#chatterax-contents h3 {
    margin: 0px;
}

#chatterax-main, #gst-main, #budget-main, #xo-main{
    display: none;
    position: absolute;
}

#page2 #project-info a, #project-list a {
    color: rgb(11, 184, 11);
    text-decoration: none;
}

#page2 #project-info a:hover {
    
}

#project-list a:hover {
    color: crimson;
    cursor: pointer;
}

#project-info, #col2 {
    transition: 1s ease all;
}

