@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
    font-family: 'Source Sans Pro', 'sans-serif';
    margin: 0px;
    padding: 0px;
    background-color: #333;
    width: 100%;
    overflow-x: hidden;
    overflow-y: none;
}

#page1 {
    /* position: relative; */
    background: url('../images/background1.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    transition: 0.5s ease-in-out;
    overflow-y: scroll;

}

#profile-pic {
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    top: 20vh;
    left: 20%;
}

#floater {
    width: 250px;
    position: absolute;
    right: 30px;
    bottom: 100px;
}

#title {
    font-size: 4em;
}

#small-title {
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    position: relative;
    top: 0px;
    width:100%;
    bottom:45%;
    display:block;
}

#main-content {
    position: relative;    
    top: 25vh;
    left: 40%;
    overflow: hidden;
}

#menu {
    font-size: 2em;
    position: fixed;
    top: 10px;
    left: 10px;
    transition: 0.2s ease-in all;
    padding: 10px;
    /* border-radius: 50%; */
}

#menu:hover {
    cursor: pointer;
    color: crimson;
    font-size: 2.1em;
}

#current-menu {
    font-size: 2em;
    position: fixed;
    right: 20px;
    top: 10px;
    font-variant-caps: all-small-caps
}

#flip {
    height: 50px;
    overflow: hidden;
    display: inline-block;
}

#flip>div>div {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #42c58a;
}

#flip div:first-child div {
    background: #4ec7f3;
}

#flip div:last-child div {
    background: #DC143C;
}

#developer {
    position: absolute;
}

.body-flip {
    transform: rotate(-20deg);
    transform-origin: top left;

}

#sidebar {
    position: absolute;
    width: 200px;
    height: 200vh;
    background: rgba(237, 237, 237, 1);
    top: 0px;
    left: -200px;
    transition: 0.5s ease;

    
}

#sidebar-ul {
    position: absolute;
    transform-origin: bottom left;
    top: 40vh;
    left: 10px;
    transition: 0.5s ease;
    
}


#sidebar a {
    text-decoration: none;
}

#sidebar li {
    list-style-type: none;
    margin-bottom: 20px;
    
}

.sidebar-toggle {
    transform: rotate(-20deg);
    transform-origin: top right;

}
.sidebar-toggle-ul {
    transform: rotate(20deg);
    transform-origin: top right;

}

.transition {
    transform: translate(-500px, -500px);
}

/* Page 2 */


@keyframes show {
    0% {
        margin-top: -270px;
    }
    5% {
        margin-top: -180px;
    }
    33% {
        margin-top: -180px;
    }
    38% {
        margin-top: -90px;
    }
    66% {
        margin-top: -90px;
    }
    71% {
        margin-top: 0px;
    }
    99.99% {
        margin-top: 0px;
    }
    100% {
        margin-top: -270px;
    }
}